// Third section of the website

section.section.section--light
  h2.section__title What can you make with 700,000 building blocks?
  p The npm registry hosts almost half a million of free, reusable code - the largest software registry in the world.

  .flex-container.space-between
    .possibility
      img.possibility__img(src="./img/binoculars.svg", alt="Binoculars image")
      h3.possibility__title Find
      p.possibility__text Libraries like #[a(href="#") jQuery], #[a(href="#") Bootstrap], #[a(href="#") React], and #[a(href="#") Angular] components from frameworks such as #[a(href="#") Ember].
    .possibility
      img.possibility__img(src="./img/mountain-flag.svg", alt="Mountain flag image")
      h3.possibility__title Discover
      p.possibility__text Packages for mobile, loT, front end, back end, robotics... everything you need to start building amazing things.
    .possibility
      img.possibility__img(src="./img/backpack.svg", alt="Backpack image")
      h3.possibility__title Build
      p.possibility__text Assemble packages like building blocks to quickly develop awesome new projects.
