// This is the first section of the website

section.section.section--dark
  .section__img
    img(src="./img/collaboration.svg", alt="Collaboration image")

  .section__content
    h2.section__title npm Orgs is powerful collaboration - for free

    ul.list.list--bullet
      li Encourag code discovery and re-use within teams
      li Publish and control access to your own namespace
      li Manage public and private code with the same workflow

    a.button.button--secondary(href="#") Sign up for Orgs

    p or #[a(href="#") Learn more about Orgs]
