// Second section of the website

section.section.section--blue

  .section__content
    h2.section__title What is npm?
    p Use npm to install, share, and distribute code; manage dependencies in your projects; and share & receibe feedback with others.
    a.button.button--dark(href="#") Install npm
