<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title NPM
  body

    include ../includes/nav
    include ../includes/header

    //- Sections of the website
    include ../sections/npm-orgs
    include ../sections/what-is-npm
    include ../sections/building-blocks
  